# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Connect IQ build outputs
bin/
connect-iq/bin/
build/
*.iq
*.prg
*.prg.debug.xml
connect-iq/developer_key.der
connect-iq/developer_key.pem

# Logs
*.log

# Python
__pycache__/
*.pyc
